.alert-component
{
    ul, li
    {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    .alert
    {
        padding: 20px;
        margin: 16px auto;
        border-radius: 4px;
        color: $body-color;
        background-color: darken(white, 15%);
        line-height: 1.5;
        position: relative;
        top: 0;

        a
        {
            color: white;
            text-decoration: underline;
        }

        &.info
        {
            color: white;
            border-color: $blue;
            background-color: lighten($blue, 10%);
        }

        &.danger
        {
            color: white;
            border-color: #d43f3a;
            background-color: #d9534f;
        }

        &.exam-failure
        {
            color: white;
            border-color: #eea236;
            background-color: #f0ad4e;
        }

        &.success
        {
            color: white;
            border-color: #4cae4c;
            background-color: #5cb85c;
        }

        &.warning
        {
            color: white;
            border-color: #eea236;
            background-color: #f0ad4e;
        }

        &.dismissable
        {
            .fa-times
            {
                cursor: pointer;
                position: absolute;
                top: 16px;
                right: 16px;
            }
        }

        &.drifter-enter-active, &.drifter-leave-active
        {
            @include transition((top, opacity), 0.5s);
        }

        &.drifter-enter, &.drifter-leave-to
        {
            top: -30px;
            opacity: 0;
        }
    }
}
