.faqs-component
{
    .faq
    {
        margin-top: 1rem;

        &:first-of-type
        {
            margin-top: 0;
        }

        .question
        {
            cursor: pointer;
            border-radius: 2rem;
            padding: 1rem;
            background-color: rgba(white, 0.8);
            color: #333;
            display: flex;

            span
            {
                line-height: 2rem;
            }
        }

        .answer
        {
            padding: 1rem;
            border-radius: 2rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}
