.unsplash-photo-credits-component
{
    .badge
    {
        color: white;
        border: 0;
        cursor: pointer;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    }

    .modal-content
    {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
    }

    .close
    {
        color: white;
        text-shadow: none;
        opacity: 1;
    }

    .credit
    {
        img
        {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
        }

        a
        {
            color: white;
            font-size: 0.8rem;
            text-decoration: underline;
        }
    }
}
