.top-nav
{
    padding: 0.5rem 0;

    a
    {
        color: white;
    }
}

.site-header
{
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
    width: 100%;
}
