<template>
    <input
        :id="id"
        :name="name"
        type="text"
        v-model="address"
        :autocomplete="autocomplete"
    >
</template>

<script>
    export default {
        mounted() {
            google.maps.event.addDomListener(window, 'load', this.callback.bind(this));
        },

        data() {
            return {
                address: '',
                search: null
            };
        },

        props: {
            autocomplete: {
                type: String,
                default: 'off'
            },

            id: {
                type: String,
                default: 'address'
            },

            name: {
                type: String,
                default: 'address'
            }
        },

        methods: {
            callback(e) {
                const sw = new google.maps.LatLng(39.223802, -112.927641);
                const ne = new google.maps.LatLng(41.976383, -109.146080);
                const bounds = new google.maps.LatLngBounds(sw, ne);
                const strictBounds = true;

                this.search = new google.maps.places.Autocomplete(this.$el, { bounds, strictBounds });

                this.search.addListener('place_changed', () => this.$emit('input', this.search.getPlace()));
            }
        }
    }
</script>
