<template>
    <div class="alert-component">
        <transition name="drifter">
            <ul class="alert" :class="classes" v-show="!dismissed">
                <i class="fa fa-lg fa-times" v-if="dismissable" v-on:click="dismissed = true"></i>

                <li>
                    <strong>{{ headline }}</strong>
                </li>

                <li v-if="message" v-html="message"></li>

                <li v-if="msgs" v-for="msg in msgs" v-html="msg"></li>
            </ul>
        </transition>
    </div>
</template>

<script>
    export default {
        mounted() {
            if (this.messages.constructor.toString().indexOf('Object') >= 0) {
                this.msgs = _.flatten(_.values(this.messages));
            } else {
                this.msgs = this.messages;
            }
        },

        data() {
            return {
                msgs: [],
                dismissed: false
            };
        },

        props: {
            type: {
                type: String,
                default: 'info'
            },

            header: {
                type: String,
                default: ''
            },

            message: {
                type: String,
                default: ''
            },

            messages: {
                type: Array|Object,
                default() {
                    return [];
                }
            },

            dismissable: {
                type: Boolean,
                default: true
            }
        },

        computed: {
            headline() {
                if (this.header) return this.header;

                switch (this.type) {
                    case 'status':
                    case 'success':
                        return 'Success!';
                        break;

                    case 'info':
                        return 'Notice';
                        break;

                    case 'warning':
                        return 'Warning!';
                        break;

                    case 'danger':
                        return 'Danger!';
                        break;

                    default:
                        break;
                }
            },

            classes() {
                let obj = {};

                obj.dismissable = this.dismissable;
                obj[this.type] = this.type;

                return obj;
            }
        }
    }
</script>
