<template>
    <form action="/bookings" method="POST" @submit.prevent="submit">
        <alert v-if="success" type="success" header="Success!" :message="success"></alert>

        <div class="row">
            <div class="col form-group" :class="{ error: errors.first_name }">
                <label for="booking_first_name">First Name</label>

                <input id="booking_first_name" name="first_name" type="text" v-model="data.first_name" class="form-control bg-dark text-white border-dark" placeholder="Your First Name">

                <div class="errors" v-if="errors.first_name">
                    <p v-for="error in errors.first_name" v-html="error"></p>
                </div>
            </div>

            <div class="col form-group" :class="{ error: errors.last_name }">
                <label for="booking_last_name">Last Name</label>

                <input id="booking_last_name" name="booking_last_name" type="text" v-model="data.last_name" class="form-control bg-dark text-white border-dark" placeholder="Your Last Name">

                <div class="errors" v-if="errors.last_name">
                    <p v-for="error in errors.last_name" v-html="error"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col form-group" :class="{ error: errors.email }">
                <label for="Email">Email</label>

                <input id="email" name="email" type="email" v-model="data.email" class="form-control bg-dark text-white border-dark" placeholder="Your Email">

                <div class="errors" v-if="errors.email">
                    <p v-for="error in errors.email" v-html="error"></p>
                </div>
            </div>

            <div class="col form-group" :class="{ error: errors.phone }">
                <label for="phone">Cell Phone</label>

                <input id="phone" name="phone" type="phone" v-model="data.phone" class="form-control bg-dark text-white border-dark" placeholder="(555) 555-5555">

                <div class="errors" v-if="errors.phone">
                    <p v-for="error in errors.phone" v-html="error"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col form-group" :class="{ error: errors.origin }">
                <label for="pickup_location">
                    Pickup Location
                </label>

                <address-search
                    id="pickup_location"
                    name="pickup_location[]"
                    autocomplete="off"
                    v-model="data.origin"
                    class="form-control bg-dark text-white border-dark"
                    placeholder="Start typing for suggestions"
                ></address-search>

                <div class="errors" v-if="errors.origin">
                    <p v-for="error in errors.origin" v-html="error"></p>
                </div>
            </div>

            <div class="col form-group" :class="{ error: errors.destination }">
                <label for="dropoff_location">
                    Drop-off Location
                </label>

                <address-search
                    id="dropoff_location"
                    name="dropoff_location"
                    autocomplete="off"
                    v-model="data.destination"
                    class="form-control bg-dark text-white border-dark"
                    placeholder="Start typing for suggestions"
                ></address-search>

                <div class="errors" v-if="errors.destination">
                    <p v-for="error in errors.destination" v-html="error"></p>
                </div>
            </div>
        </div>

        <div class="row" v-if="data.distance">
            <div class="col form-group" :class="{ error: errors.distance }">
                <label for="distance">Distance</label>

                <div class="input-group">
                    <input id="distance" type="text" class="form-control bg-dark text-white border-dark" aria-label="Trip distance" aria-describedby="trip-distance-unit" readonly v-model="data.distance">

                    <div class="input-group-append">
                        <span class="input-group-text bg-dark text-white border-dark" id="trip-distance-unit">miles</span>
                    </div>
                </div>

                <alert v-if="data.distance && data.distance < distanceThreshold" type="warning" header="Notice" :message="`SummiTrans recommends another taxi/shuttle service for short duration trips under ${distanceThreshold} miles unless you have ski gear. SummiTrans specializes in rides over ${distanceThreshold} miles, particularly those involving cargo (skis, snowboards, sports apparel, etc.).`"></alert>

                <div class="errors" v-if="errors.distance">
                    <p v-for="error in errors.distance" v-html="error"></p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="number_of_passengers">Number of Passengers</label>

            <select id="number_of_passengers" name="number_of_passengers" class="form-control bg-dark text-white border-dark" v-model="data.number_of_passengers">
                <option value="1">1 passenger</option>

                <option value="2">2 passengers</option>

                <option value="3">3 passengers</option>

                <option value="4">4 passengers</option>

                <option value="5">5 passengers</option>

                <option value="6">6 passengers</option>

                <option value="7">7 passengers (with minimal luggage)</option>
            </select>

            <div class="errors" v-if="errors.number_of_passengers">
                <p v-for="error in errors.number_of_passengers" v-html="error"></p>
            </div>
        </div>

        <div class="form-group" :class="{ error: errors.airport_pickup }">
            <label for="airport_pickup">Airport Pickup?</label>

            <select id="airport_pickup" name="airport_pickup" class="form-control bg-dark text-white border-dark" v-model="data.airport_pickup">
                <option value="No">No - This is not an airport pickup</option>

                <option value="Yes">Yes - This is an airport pickup</option>
            </select>

            <div class="errors" v-if="errors.airport_pickup">
                <p v-for="error in errors.airport_pickup" v-html="error"></p>
            </div>
        </div>

        <div v-if="data.airport_pickup === 'Yes'">
            <div class="row">
                <div class="col form-group">
                    <label for="airline">Airline</label>

                    <input id="airline" name="airline" type="text" class="form-control bg-dark text-white border-dark" v-model="data.airline">

                    <div class="errors" v-if="errors.airline">
                        <p v-for="error in errors.airline" v-html="error"></p>
                    </div>
                </div>

                <div class="col form-group">
                    <label for="flight_number">Flight Number</label>

                    <input id="flight_number" name="flight_number" type="text" class="form-control bg-dark text-white border-dark" v-model="data.flight_number">

                    <div class="errors" v-if="errors.flight_number">
                        <p v-for="error in errors.flight_number" v-html="error"></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col form-group">
                    <label for="departing_city">Departing City</label>

                    <input id="departing_city" name="departing_city" type="text" class="form-control bg-dark text-white border-dark" v-model="data.departing_city">

                    <div class="errors" v-if="errors.departing_city">
                        <p v-for="error in errors.departing_city" v-html="error"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" :class="{ error: errors.datetime }">
            <label for="datetime">Date/Time</label>

            <flatpickr
                id="datetime"
                name="datetime"
                class="form-control bg-dark text-white border-dark"
                placeholder="Click to choose date/time"
                v-model="data.datetime"
                :options="{
                    dateFormat: 'Y-m-d h:i K',
                    enableTime: true,
                    disable: blackOutDates
                }"
            ></flatpickr>
            <!-- <datetime type="datetime" value-zone="America/Denver" zone="America/Denver" :use12-hour="true" v-model="data.datetime" input-class="form-control bg-dark text-white border-dark" placeholder="Click to choose date/time"></datetime> -->

            <div class="errors" v-if="errors.datetime">
                <p v-for="error in errors.datetime" v-html="error"></p>
            </div>
        </div>

        <div class="form-group" :class="{ error: errors.notes }">
            <label for="notes">Notes (Special Requests)</label>

            <textarea id="notes" name="notes" rows="5" v-model="data.notes" class="form-control bg-dark text-white border-dark"></textarea>

            <div class="errors" v-if="errors.notes">
                <p v-for="error in errors.notes" v-html="error"></p>
            </div>
        </div>

        <button class="btn btn-outline-light" type="submit">
            <span v-if="submitting">Submitting, please wait...</span>

            <span v-else>
                Book Now <i class="fa fa-angle-right"></i>
            </span>
        </button>
    </form>
</template>

<script>
    export default {
        data() {
            return {
                data: this.defaultData(),
                success: '',
                submitting: false,
                errors: {},
                oldOrigin: null,
                oldDestination: null,
                distanceThreshold: 20
            };
        },

        props: {
            blackOutDates: {
                type: Array,
                default() {
                    return [];
                }
            }
        },

        computed: {
            csrfToken() {
                return jQuery('meta[name="csrf-token"]').attr('content');
            }
        },

        watch: {
            data: {
                deep: true,
                handler(data) {
                    const hasBoth = !!(data.origin && data.destination);
                    const hasFormatted = hasBoth && !!(data.origin.formatted_address && data.destination.formatted_address);
                    const hasChanged = hasFormatted && !!(data.origin.formatted_address !== this.oldOrigin || data.destination.formatted_address !== this.oldDestination);

                    if (hasBoth && hasFormatted && hasChanged) {
                        if (this.errors.distance) delete this.errors.distance;
                        this.data.distance = 'Calculating...';

                        const service = new google.maps.DistanceMatrixService();

                        service.getDistanceMatrix({
                            origins: [data.origin.formatted_address],
                            destinations: [data.destination.formatted_address],
                            travelMode: 'DRIVING',
                            unitSystem: google.maps.UnitSystem.IMPERIAL
                        }, (response, status) => {
                            if (status === 'OK') {
                                if (response.rows && response.rows.length && response.rows[0].elements && response.rows[0].elements.length && response.rows[0].elements[0].distance && response.rows[0].elements[0].distance.text) {
                                    this.data.distance = parseFloat(response.rows[0].elements[0].distance.text);
                                } else {
                                    this.data.distance = 'Unknown';
                                }
                            } else {
                                this.errors.distance = [
                                    'There was an error attempting to calculate the distance between your pick-up and drop-off addresses.'
                                ];
                            }

                            this.$forceUpdate();
                        });
                    }

                    this.oldOrigin = !!(data.origin && data.origin.formatted_address) ? data.origin.formatted_address : null;
                    this.oldDestination = !!(data.destination && data.destination.formatted_address) ? data.destination.formatted_address : null;
                }
            }
        },

        methods: {
            defaultData() {
                return {
                    first_name: '',
                    last_name: '',
                    email: '',
                    phone: '',
                    datetime: '',
                    notes: '',
                    origin: null,
                    destination: null,
                    distance: null,
                    airport_pickup: '',
                    airline: '',
                    flight_number: '',
                    departing_city: ''
                };
            },

            submit() {
                if (this.submitting) return false;
                this.submitting = true;

                this.errors = {};

                axios.post('/bookings', this.data)
                    .then(response => {
                        if (response.data.booking && response.data.booking.uid) {
                            const booking = response.data.booking;

                            this.data = this.defaultData();

                            window.location = `/bookings/${booking.uid}/edit`;
                        }
                    })
                    .catch(error => {
                        this.submitting = false;

                        this.errors = (error.response && error.response.data && error.response.data.errors) ? error.response.data.errors : {};

                        if (console && console.error) console.error(error);
                    });

                return false;
            }
        }
    }
</script>
