<template>
    <div class="checkout-modal-component" v-show="visible">
        //
    </div>
</template>

<script>
    export default {
        mounted() {
            eventHub.$on('checkout-modal.open', this.open.bind(this));
            eventHub.$on('checkout-modal.close', this.close.bind(this));
            eventHub.$on('checkout-modal.toggle', this.toggle.bind(this));
        },

        data() {
            return {
                visible: false
            };
        },

        methods: {
            open() {
                this.visible = true;
            },

            close() {
                this.visible = false;
            },

            toggle() {
                this.visible = !this.visible;
            }
        }
    }
</script>
