<template>
    <button class="checkout-button-component btn" type="button" @click="showModal">
        <slot>Checkout</slot>
    </button>
</template>

<script>
    export default {
        mounted() {
            this.handler = StripeCheckout.configure({
                key: this.stripeKey,
                image: this.image,
                locale: this.locale,
                zipCode: true,
                token: token => {
                    let form = jQuery(this.$el).parents('form');
                    let csrfInput = form.find('input[name="_token"]');
                    let tokenInput = form.find('input[name="stripe_token"]');
                    let ipInput = form.find('input[name="stripe_client_ip"]');
                    let emailInput = form.find('input[name="stripe_email"]');

                    if (!csrfInput.length) {
                        csrfInput = jQuery(`<input type="hidden" name="_token">`);

                        form.append(csrfInput);
                    }

                    if (!tokenInput.length) {
                        tokenInput = jQuery(`<input type="hidden" name="stripe_token">`);

                        form.append(tokenInput);
                    }

                    if (!ipInput.length) {
                        ipInput = jQuery(`<input type="hidden" name="stripe_client_ip">`);

                        form.append(ipInput);
                    }

                    if (!emailInput.length) {
                        emailInput = jQuery(`<input type="hidden" name="stripe_email">`);

                        form.append(emailInput);
                    }

                    csrfInput.val(this.csrfToken);
                    tokenInput.val(token.id);
                    ipInput.val(token.client_ip);
                    emailInput.val(token.email);

                    form.get(0).submit();
                }
            });
        },

        props: {
            stripeKey: {
                type: String,
                default: ''
            },

            image: {
                type: String,
                default: '/img/stripe/business.png'
            },

            locale: {
                type: String,
                default: 'auto'
            },

            description: {
                type: String,
                default: ''
            },

            amount: {
                type: Number,
                default: 0
            },

            email: {
                type: String,
                default: ''
            },

            panelLabel: {
                type: String,
                default: 'Pay'
            }
        },

        computed: {
            csrfToken() {
                return jQuery('meta[name="csrf-token"]').attr('content');
            }
        },

        methods: {
            showModal() {
                this.handler.open({
                    name: 'SummiTrans',
                    description: this.description,
                    amount: this.amount,
                    email: this.email,
                    panelLabel: this.panelLabel
                });
            }
        }
    }
</script>
