<template>
    <div class="dependent-component">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.display = jQuery(this.$el).css('display');

            this.dependentInput = jQuery(`input[name="${this.on}"], select[name="${this.on}"], textarea[name="${this.on}"]`);

            this.checkable = (this.dependentInput.attr('type') === 'checkbox' || this.dependentInput.attr('type') === 'radio');
            this.isRadioComponent = this.dependentInput.parents('.radio-component').length >= 1;
            this.isCheckboxComponent = this.dependentInput.parents('.checkbox-component').length >= 1;

            switch (true) {
                case this.isRadioComponent:
                    eventHub.$on(`radio.${this.on}.update`, this.updateFromCustomComponent.bind(this));
                    break;

                case this.isCheckboxComponent:
                    eventHub.$on(`checkbox.${this.on}.input`, this.updateFromCustomComponent.bind(this));
                    break;

                default:
                    this.dependentInput.on('input change', this.update.bind(this));
                    this.$nextTick(this.update.bind(this));
                    break;
            }
        },

        data() {
            return {
                dependentInput: jQuery(),
                checkable: false,
                visible: false,
                display: ''
            }
        },

        props: {
            on: {
                type: String,
                default: ''
            },

            value: {
                type: String,
                default: ''
            },

            notValue: {
                type: String,
                value: ''
            }
        },

        methods: {
            update() {
                switch (true) {
                    case this.value && this.checkable:
                        this.visible = this.dependentInput.val() === this.value && this.dependentInput.is(':checked');
                        break;

                    case this.value && !this.checkable:
                        this.visible = this.dependentInput.val() === this.value;
                        break;

                    case this.notValue && this.checkable:
                        this.visible = this.dependentInput.val() !== this.notValue && this.dependentInput.is(':checked');
                        break;

                    case this.notValue && !this.checkable:
                        this.visible = this.dependentInput.val() !== this.notValue;
                        break;

                    case this.checkable:
                        this.visible = this.dependentInput.is(':checked');
                        break;

                    case !this.checkable:
                        this.visible = !!this.dependentInput.val();
                        break;

                    default:
                        break;
                }

                jQuery(this.$el).css('display', this.visible ? this.display : 'none');
            },

            updateFromCustomComponent(value, checked)
            {
                if (checked === undefined) checked = value;

                switch (true) {
                    case (this.value !== undefined && this.value !== null && this.value !== ''):
                        this.visible = (value === this.value && checked);
                        break;

                    case (this.notValue !== undefined && this.notValue !== null && this.notValue !== ''):
                        this.visible = (value !== this.notValue || (value === this.notValue && !checked));
                        break;

                    default:
                        this.visible = checked;
                        break;
                }

                jQuery(this.$el).css('display', this.visible ? this.display : 'none');
            }
        }
    }
</script>
