<template>
    <div class="faqs-component">
        <div class="faq" v-for="faq in faqs">
            <div class="question justify-content-between" @click="toggle(faq)">
                <span>{{ faq.question }}</span>

                <span class="fa-stack pull-right">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                </span>
            </div>

            <div class="answer" v-if="faq.open">{{ faq.answer }}</div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            faqs: {
                type: Array,
                default() {
                    return [];
                }
            }
        },

        methods: {
            toggle(faq) {
                faq.open = !faq.open;

                this.$forceUpdate();
            }
        }
    }
</script>
