<template>
    <input class="flatpickr-component" :id="id" :name="name" v-model="mutableValue">
</template>

<script>
    import flatpickr from 'flatpickr';

    export default {
        mounted() {
            this.mutableValue = this.value;

            this.flatpickr = flatpickr(this.$el, this.options);

            this.flatpickr.config.onChange.push((selectedDates, dateStr, instance) => this.$emit('input', dateStr));
        },

        data() {
            return {
                flatpickr: null,
                mutableValue: ''
            };
        },

        props: {
            id: {
                type: String,
                default: 'date'
            },

            name: {
                type: String,
                default: 'date'
            },

            options: {
                type: Object,
                default() {
                    return {};
                }
            },

            value: {
                type: String,
                default: ''
            }
        }
    };
</script>
