<template>
    <form class="ride-payment-form-component" :action="`/bookings/${booking.uid}/pay`" method="POST" @submit="submitting = true">
        <input type="hidden" name="_token" :value="csrfToken">

        <div class="form-group">
            <label for="base_amount">Base Amount</label>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">&#36;</span>
                </div>

                <input id="base_amount" name="base_amount" type="text" v-model="base_dollars" class="form-control bg-dark text-white border-white">
            </div>
        </div>

        <div class="form-group">
            <label for="tip">Tip</label>

            <div class="form-group">
                <div class="btn-group" role="group" aria-label="Tip buttons">
                    <button v-for="type in tipTypes" class="btn" type="button" :class="{ 'btn-primary': type.active, 'btn-outline-primary': !type.active }" @click="setTipType(type)">
                        {{ type.name }}

                        <input v-if="type.active" name="tip_type" type="hidden" v-model="type.name">
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group" v-if="getTipType().name === 'Custom'">
            <label for="custom_tip_amount">Tip Amount</label>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">&#36;</span>
                </div>

                <input id="custom_tip_amount" name="custom_tip_amount" type="text" v-model="custom_tip_amount" class="form-control bg-dark text-white border-white">
            </div>
        </div>

        <div class="form-group">
            <label for="amount_after_tip">Amount After Tip</label>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">&#36;</span>
                </div>

                <input id="amount_after_tip" name="amount_after_tip" type="text" v-model="amount_after_tip" class="form-control bg-dark text-white border-white" disabled>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" v-if="!submitting">
            <i class="fa fa-credit-card"></i> Finalize Payment
        </button>

        <button class="btn btn-secondary" type="button" v-else>
            Submitting...
        </button>
    </form>
</template>

<script>
    export default {
        mounted() {
            this.base_dollars = this.booking.base_amount / 100;

            this.updateTip();
        },

        data() {
            return {
                submitting: false,
                base_dollars: 0,
                base_pennies: 0,
                amount_after_tip: 0,
                custom_tip_amount: "5.00",
                tipTypes: [
                    {
                        name: '10%',
                        value: 0.10,
                        active: false
                    },

                    {
                        name: '15%',
                        value: 0.15,
                        active: false
                    },

                    {
                        name: '20%',
                        value: 0.20,
                        active: true
                    },

                    {
                        name: 'Custom',
                        value: 0.00,
                        active: false
                    }
                ]
            };
        },

        props: {
            booking: {
                type: Object,
                default() {
                    return {};
                }
            }
        },

        computed: {
            csrfToken() {
                return jQuery('meta[name="csrf-token"]').attr('content');
            }
        },

        watch: {
            base_dollars(n, o) {
                const value = n * 100;

                if (this.base_pennies !== value) {
                    this.base_pennies = value;
                    this.updateTip();
                }
            },

            base_pennies(n, o) {
                const value = Math.round(n / 100);

                if (this.base_dollars !== value) {
                    this.base_dollars = value;
                    this.updateTip();
                }
            },

            custom_tip_amount(n, o) {
                this.updateTip();
            }
        },

        methods: {
            updateTip() {
                let tipped = this.base_pennies;

                const tipType = this.getTipType();
                if (tipType.name === 'Custom') {
                    tipped += parseInt(this.dollarsToPennies(this.custom_tip_amount));
                } else {
                    tipped += (this.base_pennies * tipType.value);
                }

                this.amount_after_tip = this.penniesToDollars(tipped);
            },

            getTipType() {
                for (let type of this.tipTypes) {
                    if (type.active) return type;
                }

                return {};
            },

            setTipType(type) {
                for (let t of this.tipTypes) t.active = (t === type);

                this.updateTip();
            },

            convertMillisecondsToSeconds(ms) {
                return ms / 1000;
            },

            convertMillisecondsToMinutes(ms) {
                return this.convertSecondsToMinutes(this.convertMillisecondsToSeconds(ms));
            },

            convertMillisecondsToHours(ms) {
                return this.convertMinutesToHours(this.convertSecondsToMinutes(this.convertMillisecondsToSeconds(ms)));
            },

            convertSecondsToMinutes(s) {
                return s / 60;
            },

            convertSecondsToHours(s) {
                return this.convertMinutesToHours(this.convertSecondsToMinutes(s));
            },

            convertMinutesToHours(m) {
                return m / 60;
            },

            penniesToDollars(p) {
                return (p / 100).toFixed(2);
            },

            dollarsToPennies(d) {
                return (d * 100).toFixed(0);
            }
        }
    }
</script>
