<template>
    <a :href="href" @click="scroll">
        <slot></slot>
    </a>
</template>

<script>
    export default {
        props: {
            href: {
                type: String,
                default: '#'
            },

            offset: {
                type: Number,
                default: 0
            }
        },

        methods: {
            scroll(e) {
                let currentHashIndex = location.href.indexOf('#');
                let givenHashIndex = this.href.indexOf('#');

                let current = currentHashIndex >= 0 ? location.href.substr(0, currentHashIndex) : location.href;
                let given = givenHashIndex >= 0 ? this.href.substr(0, givenHashIndex) : this.href;

                let currentTrailingSlash = current.substr(-1, 1) === '/';
                let givenTrailingSlash = given.substr(-1, 1) === '/';

                if (currentTrailingSlash) current = current.substr(0, current.length - 1);
                if (givenTrailingSlash) given = given.substr(0, given.length - 1);

                let onSamePage = current === given;

                if (onSamePage) {
                    e.preventDefault();

                    let hash = this.href.substr(givenHashIndex);
                    let target = jQuery(`a[name="${hash.substr(1)}"]`);

                    if (target.length) {
                        let scrollTop = target.offset().top + this.offset;

                        jQuery('html, body').animate({ scrollTop }, 500);
                    }

                    return false;
                }
            }
        }
    }
</script>
