<template>
    <div class="unsplash-photo-credits-component">
        <button type="button" class="badge" data-toggle="modal" data-target="#unsplash-photo-credits-modal">
            <i class="fa fa-lg fa-camera"></i> Photo Credits
        </button>

        <div class="modal fade" id="unsplash-photo-credits-modal" tabindex="-1" role="dialog" aria-labelledby="Photo Credits" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark color-white">
                    <div class="modal-header">
                        <h5 class="modal-title">Photo Credits</h5>

                        <button type="button" class="close" data-dismiss="modal" aira-label="Close">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="credit" v-for="credit in credits">
                            <div class="row">
                                <div class="col-auto">
                                    <img :src="credit.thumbnail" :alt="`Photo taken by ${credit.name}`">
                                </div>

                                <div class="col">
                                    <p>
                                        Photographer: {{ credit.name }}<br>

                                        <a :href="credit.url" target="_blank">
                                            View Other Images by {{ credit.name }} <i class="fa fa-angle-right"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            credits: {
                type: Array,
                default() {
                    return [];
                }
            }
        }
    }
</script>
