.hero
{
    position: relative;
    display: flex;
    align-items: center;

    &:before
    {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-image: url('/img/olivia-hutcherson-768718-unsplash.jpg');
        opacity: 0.5;
    }

    .container
    {
        width: 50%;
        z-index: 1;
        text-align: center;
        position: relative;
        @include media-breakpoint-down(xl)
        {
            width: 100%;
        }

        h1, h2, p
        {
            margin-bottom: 1rem;
        }

        button
        {
            margin-top: 2rem;
        }

        .overlay
        {
            padding: 2rem;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
            background-color: rgba(0, 0, 0, 0.8);
            position: relative;
            top: -4rem;
        }
    }

    .scroll-indicator
    {
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0) 100%);

        em
        {
            display: block;
        }

        .fa
        {
            color: white;
            font-size: 3rem;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
        }
    }
}
