section
{
    overflow: hidden;
    padding: 8rem 0;

    .row
    {
        position: relative;
    }

    h3
    {
        margin-bottom: 2rem;
        font-size: 4rem;
        position: relative;
        z-index: 1;
    }

    .home-section-icon
    {
        transform: scale(20);
        opacity: 0.15;
        position: absolute;
        top: 4rem;
        left: 5rem;
        z-index: 0;
        @include media-breakpoint-down(lg)
        {
            top: 2rem;
            transform: scale(10);
        }
        @include media-breakpoint-down(md)
        {
            transform: scale(15);
        }

        .fa-stack-1x
        {
            color: lighten(black, 25%);
            transform: rotate(15deg);
        }
    }

    &.right
    {
        background-color: rgba(0, 0, 0, 0.25);

        .home-section-icon
        {
            left: auto;
            right: 5rem;

            .fa-stack-1x
            {
                transform: rotate(-15deg);
            }
        }
    }
}
